--- DEBUG TEMPLATE START ---

## IMPORTS:
{% for import in imports %}
- {{ import }}
{% endfor %}

## MODELS:
{% for model in models %}

### MODEL: {{ model.name }}
  - Base Classes: {{ model.base_classes }}
  - Fields:
  {% for field in model.fields %}
    - Name: {{ field.name }}
    - Type Hint: {{ field.type_hint }}
    - Required: {{ field.required }}
    - Is List: {{ field.is_list }}
    - Is Enum: {{ field.is_enum }}
  {% endfor %}
{% endfor %}

--- DEBUG TEMPLATE END ---
